{% block head %}
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="static/css/sweep_field.css">
<script src="static/js/jquery-1.11.1.min.js"></script>
{% endblock %}

{% include 'sweep_field.html' %}

<form action="." method="post">
    <div>
        <div>
            {{ form.sweep1.label }}
            {# form.sweep1.tooltip #}
            {{ form.sweep1 }}
        </div>
        <div>
            {{ form.sweep2.label }}
            {# form.sweep2.tooltip #}
            {{ form.sweep2 }}
        </div>
        {{ form.submit }}
    </div>
</form>
